.vehicle-details{
    text-align:center;
    width: 250px;
    height: 260px;
    padding: 10px;
    margin-left: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.vehicle-details img{
    width: 180px;
    height: 150px;
}
