.form-area{
    width: 500px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.social{
    width:300px;
    height: auto;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
}
.social :hover{
    cursor: pointer;
}
